.question-container {
  .question-title {
    padding: 20px;
  }
  .question-img {
    width: 180px;
  }
  .color {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 1px black solid;
  }
  .form-container {
    padding-top: 20px;
    gap: 10px;
    .answer-input {
      border: 1px solid lightcoral;
      font-size: 16px;
      height: 30px;
    }
    .submit-btn {
    }
  }
}
