@font-face {
  font-family: titan;
  src: url(../fonts/TitanOne-Regular.ttf);
}
@font-face {
  font-family: balsamiq;
  src: url(../fonts/BalsamiqSans-Regular.ttf);
}
// @font-face {
//     font-family: outfit;
//     src: url(../../font/Outfit/Outfit-Light.ttf);
// }
// @font-face {
//     font-family: charlie;
//     src: url(../../font/Charlie__Atlassian/CharlieDisplay-Regular.ttf);
// }
