.app-header {
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    #ffffffdc,
    #ffffffc7,
    #ffffff9c,
    #ffffff50,
    #ffffff00
  );
  &.hidden {
    display: none;
  }
  img {
    width: 285px;
  }
}
